.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/DaliZpmWsAAUf3T.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 409px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  background-image: none;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3rem;
  width: 780px;
  margin: 90px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: normal;
  width: 780px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  letter-spacing: 2px;
  border-style: none;
  text-transform: uppercase;
  margin: 20px auto 60px;
  padding: 6px 24px 7px 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-1 .u-text-1 {
    animation-duration: 1000ms;
    font-size: 2.25rem;
    margin-top: 110px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 80px;
    margin-right: 80px;
  }

  .u-section-1 .u-btn-1 {
    margin-bottom: 55px;
    padding-bottom: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 767px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 65px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 39px auto 0;
}

.u-section-2 .u-map-1 {
  width: 1023px;
  height: 364px;
  margin: 65px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 87px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-2 .u-map-1 {
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-map-1 {
    margin-top: -45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 732px;
}

.u-section-3 .u-text-1 {
  z-index: 99999;
  margin: 30px 30px 0 -30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 30px 0 0;
}

.u-section-3 .u-list-1 {
  min-height: 282px;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-gap: 10px 10px;
  width: 288px;
  margin: 83px auto 0 65px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 252px;
  width: 253px;
  background-image: none;
  margin: -22px -12px -8px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  letter-spacing: 0px;
  background-image: none;
  line-height: 1.8;
  font-weight: 400;
  margin: -195px 104px 0 570px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  font-weight: normal;
  margin: 144px auto 60px 398px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-1 {
    height: auto;
  }

  .u-section-3 .u-icon-1 {
    height: 253px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 4px;
    margin-left: 448px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 135px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-icon-1 {
    height: 228px;
    width: 228px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-left: 65px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -25px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -195px;
    margin-left: 48px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
    margin-left: 52px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 932px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 81px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 253px;
  width: 253px;
  margin: 124px auto 0 90px;
}

.u-section-4 .u-icon-2 {
  height: 253px;
  width: 253px;
  margin: -253px auto 0;
}

.u-section-4 .u-icon-3 {
  height: 253px;
  width: 253px;
  margin: -252px auto 0 823px;
}

.u-section-4 .u-text-2 {
  margin: 16px 830px 0 36px;
}

.u-section-4 .u-text-3 {
  margin: -216px 408px 0 434px;
}

.u-section-4 .u-text-4 {
  margin: -285px 61px 0 823px;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  font-weight: normal;
  margin: 36px 113px 0 auto;
}

.u-section-4 .u-btn-2 {
  border-style: solid;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  font-weight: normal;
  margin: -49px auto 0;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-image: none;
  font-weight: normal;
  margin: -49px auto 36px 97px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 129px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 184px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 687px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -251px;
    margin-right: 666px;
    margin-left: 74px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 337px;
    margin-left: 334px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 42px;
    margin-left: 684px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -39px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 223px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 178px;
    margin-bottom: 41px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 434px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 467px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 446px;
    margin-left: 57px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-right: 446px;
    margin-left: 57px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 32px;
    margin-left: 464px;
  }

  .u-section-4 .u-btn-3 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 845px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 152px;
    margin-left: 90px;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 287px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 266px;
    margin-left: 43px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -216px;
    margin-right: 194px;
    margin-left: 134px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 24px;
    margin-left: 284px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -99px;
  }

  .u-section-4 .u-btn-3 {
    margin-top: 238px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-top: 521px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 440px;
    margin-left: 0;
  }

  .u-section-4 .u-icon-3 {
    margin-left: 87px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 16px;
    margin-right: 66px;
    margin-left: 27px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 122px;
    margin-left: 34px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 15px;
    margin-left: 84px;
  }
}